<div class="content-wrapper container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @funcionario.nome %>
  </p>

  <%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
  <%= link_to 'Voltar', funcionarios_path %>
</div>